Flask==1.1.1
numpy==1.17.4
matplotlib==3.1.2
scipy==1.4.0
PyWavelets==1.1.1
pandas==0.25.3
sklearn==0.0
Cython==0.29.21
gunicorn==20.0.4
mysql-connector-python==8.0.19
boto3==1.12.17
stopit==1.1.2
zstandard==0.14.0
s3fs==0.6.0
simplejson==3.17.2
termcolor==1.1.0
pytest-check==1.0.1
packaging==21.3
